.hero-img{
    width: 100%;
    height: 80vh;
    position: relative;
    background-color: rgba(0,0,0,0.5);
}
.hero-img::before{
    content:"";
    background:url(https://images.pexels.com/photos/669996/pexels-photo-669996.jpeg);
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero-img h1{
    font-size: 2.4rem;
    text-transform: uppercase;
}
.hero-img p{
    font-size: 1.4rem;
    text-align: center;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media screen and (max-width:640px){
    .hero-img h1{
        font-size: 2rem;
    }
    .hero-img p{
        font-size: 1rem;
    }
    .hero-img{
        height: 60vh;
    }
}