.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 90px;
}
.header-bg{
    background-color: rgba(0,0,0,0.85);
    transition: 0.5s;
}
.nav-menu li{
    display:inline-block ;
    padding-right: 16px;
    font-weight: 500;
    font-size: 18px;
    
}
/* .nav-menu li a{
    text-decoration: none;
    color: rgb(25, 25, 25);
} */
.nav-menu li:hover a{
    color: rgb(134, 142, 212);
    transition: 0.5s ease;
}
.hamburger{
    display: none;
}
@media screen and (max-width:1040px){
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;    
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu li{
        padding: 16px 0px;
    }
    .nav-menu li a{
        font-size: 24px;
    }
    .hamburger{
        display: initial;
    }
    
}